<!-- app/views/pages/search.html.erb -->
<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li>
        <% case result.class.name %>
        <% when "Book" %>
          <%= link_to result.title, book_path(result) %>
        <% when "Author" %>
          <%= link_to result.name, author_path(result) %>
        <% when "Genre" %>
          <%= link_to result.name, genre_path(result) %>
        <% when "Publisher" %>
          <%= link_to result.name, publisher_path(result) %>
        <% else %>
          <%= "Unknown result type" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
