<h1>Books</h1>

<%= link_to 'New Book', new_book_path %>

<% @books.each do |book| %>
  <div>
    <h2><%= link_to book.title, book_path(book) %></h2>
    <p>Author: <%= book.author.name %></p>
    <% if book.cover_image.attached? %>
      <%= image_tag url_for(book.cover_image) %>
    <% end %>
  </div>
<% end %>

<%= paginate @books %>
