<!-- app/views/books/show.html.erb -->

<h1><%= @book.title %></h1>


<p>
  <strong>Author:</strong> <%= @book.author.name %>
</p>

<% if @book.cover_image.attached? %>
  <div>
    <%= image_tag @book.cover_image %>
  </div>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
