<h1>Listing Bookstores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookstores.each do |bookstore| %>
      <tr>
        <td><%= bookstore.name %></td>
       
        <td><%= truncate(bookstore.description, length: 50) %></td>
        <td><%= link_to 'Show', bookstore %></td>
        <td><%= link_to 'Edit', edit_bookstore_path(bookstore) %></td>
        <td><%= link_to 'Destroy', bookstore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookstore', new_bookstore_path %>

<%= paginate @bookstores %>

