<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Genres', genres_path %></li>
        <li><%= link_to 'Publishers', publishers_path %></li>
        <li><%= link_to 'Bookstores', bookstores_path %></li>

      </ul>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
